:root {
  --color-main-purple: #eae8fe;
  --color-point-purple: #6327fe;
}

body {
  font-family: "Noto Sans KR";
}

* {
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
  line-height: 1;
}

.ir {
  position: absolute;
  clip-path: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.plain-box {
  color: #000;
  border-radius: 5px;
  background-color: var(--color-main-purple);
}

.btn {
  background-color: #fff;
  color: #000;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

figcaption {
  display: inline-block;
}

/* resets */

body,
h1,
h2,
ul,
figure {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}
li {
  list-style: none;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

/* 스크롤바 디자인
body::-webkit-scrollbar-thumb {
  width: 4px;
  height: 79px;
  background-color: #ffffff;
  border-radius: 50px;
} */
