@import url(./common.css);

body {
  background-color: var(--color-main-purple);
  font-size: 14px;
}

.body__wrapper {
  max-width: 748px;
  margin: 0 auto;
}
/* header */
#header {
  margin: 0 auto;
  text-align: center;
}

#header .img-main-logo {
  width: 386px;
  height: 180px;
}

/* MAIN */
#main {
  display: grid;
  grid-template-rows: 50px 495px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "md-list wallet"
    "md-list inventory";
  column-gap: 28px;
  margin: 82.88px auto 171px auto;
}

/* sec1 : md-list */
#md-list {
  grid-area: md-list;
  background-color: #fff;
  padding: 0px 27px 28px;
}

.md-items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 31px;
  grid-gap: 12px;
}

.md-item {
  text-align: center;
  width: 94px;
  height: 130px;
}

.md-item .btn {
  padding: 11.07px 0 9px 0;
  width: 100%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  border-radius: 10px;
}

.md-img {
  vertical-align: top;
  text-align: center;

  width: 35.86px;
  height: 64.86px;
}

.md-name {
  display: block;
  margin-top: 6px;
  font-size: 9px;
}

.md-price {
  display: inline-block;
  padding: 5px 16px 5px 15px;
  margin-top: 7px;
  border-radius: 50px;
  background-color: var(--color-point-purple);
  font-size: 12px;
  line-height: 1;
  color: #fff;
}

/* .md-item:not(:nth-child(3n + 1)) {
  margin-left: 12px;
} */

.sub-menu__container {
  margin-top: 20px;
}

.box-charge {
  display: flex;
  gap: 12px;
}

.charge {
  position: relative;
  flex-basis: 200px;
  padding: 6px 10px;
  text-align: left;
  vertical-align: top;
}

.charge span {
  position: absolute;
  right: 10px;
}

.charge span::after {
  content: "원";
}

.btn-charge {
  flex-basis: 94px;
  flex-shrink: 0;
}

#form-deposit {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

#form-deposit .input {
  /* flex-basis 안먹는 이유?*/
  width: 200px;
  padding: 6px;
  text-align: left;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  outline: none;
}

#form-deposit .btn-deposit {
  flex-basis: 94px;
  flex-shrink: 0;
}

.box-cart {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  height: 106px;
}

.my-cart {
  flex-basis: 200px;
  flex-shrink: 0;
  height: 106px;

  border-radius: 5px;
}

.items {
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;
  padding-top: 12px;
  padding-left: 12px;
  border: 1px solid #bdbdbd;
  background-color: var(--color-main-purple);
}

.items::-webkit-scrollbar {
  width: 12px;
}
.items::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid transparent;
}
.items::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

/* cart와 inventory의 공통 컴포넌트 - item  */

.item {
  position: relative;
  background-color: #fff;
  display: flex;
  text-align: center;
  width: 170px;
  height: 46px;
  border-radius: 5px;
}
.item + .item {
  margin-top: 6px;
}

.item img {
  width: 18px;
  height: 33px;
  margin: 6px 10px 7px;
}

.count {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding-top: 0.5em;
  font-size: 14px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  text-align: center;
}

.btn-get {
  flex-basis: 94px;
  flex-shrink: 0;
  background-color: var(--color-point-purple);
  color: #fff;
}

/* article : wallet */

#wallet {
  grid-area: wallet;
  background-color: #fff;
  padding: 9px 27px;
}

#wallet .cash {
  float: right;
}

#wallet .cash::after {
  content: "원";
  clear: both;
}

.wallet__box {
  max-width: 306px;
  height: 32px;
  margin: 0 auto;
}

/* sect2 : inventory */
#inventory {
  grid-area: inventory;
  background-color: #fff;
  margin-top: 20px;
  padding: 25px 27px 26px;
}

#inventory h2 {
  text-align: center;
  font-weight: 700;
}

#inventory .item {
  width: 276px;
}

#inventory .items {
  margin-top: 13px;
  width: 306px;
  height: 364px;
}
